.App-header{
  border: 1px solid gray;
}
.App-header h1 {
  text-align: center;
  height: 100px;
}
.movie {
  text-align: center;
  display: block;
  height: 80px;
  border: 1px solid gray;
  margin: 20px auto 20px auto ;
  padding-top: 40px;
  font-size: 30px;
  width:800px;
}
.movie:nth-child(odd){
  background-color: lightgray;
}
.listDiv{
  text-align: center;
  margin-top: 100px;
}